.profile {
  padding-top: 160px;
  min-height: 100vh;
  &__form {
    font-size: 2.1rem;
    text-align: center;
  }
  &__input {
    padding: 4px 4px;
    margin: 8px 0;
    font-size: 1.8rem;
    cursor: auto;
  }
  &__submit {
    padding: 6px 12px;
    margin-top: 8px;
    font-size: 2rem;
    border: none;
    color: rgb(245, 245, 245);
    background-color: rgb(161, 27, 27);
    cursor: pointer;
  }
  &__google {
    margin: 40px 0 0 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 1024px) {
  .profile {
    padding-top: 15%;
  }
}
