.navigation {
  position: fixed;
  width: 100vw;
  height: 55px;
  display: flex;
  align-items: center;
  background: rgba(36, 36, 36, 0.97);
  z-index: 200;
  &__leftSide {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__bar {
    margin: 0 15px;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
  }
  &__logo {
    width: 95px;
    height: 55px;
    color: white;
    cursor: pointer;
  }
  &__searchWrapper {
    display: flex;
    margin: auto;
  }
  &__searchInput {
    display: none;
    color: white;
  }
  &__rightSide {
    flex-basis: 70%;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__searchButton {
    border: none;
    background: none;
  }
  &__board,
  &__bell,
  &__submit,
  &__searchIcon,
  &__searchIconMobile {
    font-size: 1.8rem;
    margin: 0 15px;
    color: white;
    cursor: pointer;
  }
  &__searchIcon{
    display: none;
  }
  &__profile {
    width: 35px;
    height: 35px;
    margin: 0 30px 0 15px;
    border-radius: 50%;
    cursor: pointer;
  }
  &__bell-messsage{
    display: none;
    position: absolute;
    width: 350px;
    height: 500px;
    transform: translateX(-350px);
    background: rgba(36, 36, 36, 0.97);
    border: 1px solid #373737;
    border-top: none;
  }
  &__board-messsage{
    display: none;
    position: absolute;
    width: 250px;
    height: 50px;
    transform: translateX(-250px);
    background: rgba(36, 36, 36, 0.97);
    border: 1px solid #373737;
    border-top: none;
  }
  &__submit-messsage{
    display: none;
    position: absolute;
    width: 250px;
    height: 50px;
    transform: translateX(-250px);
    background: rgba(36, 36, 36, 0.97);
    border: 1px solid #373737;
    border-top: none;
  }
  &__h2{
    margin: 15px 10px;
    font-size: 1.7rem;
  }
  &__mobileSearch{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    .navigation{
      &__back{
        margin-right: 10px;
        color: white;
        font-size: 2.3rem;
        cursor: pointer;
      }
      &__searchButtonMobile {
        border: 1px solid rgb(44, 44, 44);
        background: rgb(44, 44, 44);
        cursor: pointer;
      }
      &__searchInputMobile {
        width: 50%;
        height: 18px;
        padding: 5px;
        box-sizing: content-box;
        display: block;
        background: rgb(19, 19, 19);
        border: 1px solid rgb(44, 44, 44);
        color: white;
        font-size: 1.4rem;
      }
      &__searchIconMobile {
        display: block;
        width: 40px;
        height: 28px;
        line-height: 28px;
        font-size: 1.4rem;
        color: rgb(111, 111, 111);
        cursor: pointer;
      }
    }
  }
}
.barBackground{
  display: none;
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: black;
  opacity: .5;
  z-index: 300;
}
.barMenu{
  position: fixed;
  width: 250px;
  height: 100vh;
  transform: translateX(-100%);
  background-color: rgb(44, 44, 44);
  z-index: 400;
  hr{
    margin: 8px 0;
  }
  &__main{
    display: flex;
    align-items: center;
  }
  &__firstSection{
    display: flex;
    justify-content: column;
  }
  &__item{
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    font-size: 1.7rem;
    color: white;
    cursor: pointer;
    *{
      font-size: 2rem;
      color: #494949;
      margin: 0 16px;
    }
    &:hover{
      background-color: rgb(56, 56, 56);
    }
  }
}

@media (min-width: 600px) {
  .navigation {
    &__searchButton {
      margin-right: auto;
      border: 1px solid rgb(44, 44, 44);
      background: rgb(44, 44, 44);
      cursor: pointer;
      &:hover .navigation__searchIcon {
        color: rgb(150, 150, 150);
      }
    }
    &__searchInput {
      width: 50%;
      height: 18px;
      padding: 5px;
      box-sizing: content-box;
      display: block;
      background: rgb(19, 19, 19);
      border: 1px solid rgb(44, 44, 44);
      font-size: 1.4rem;
    }
    &__searchIcon {
      display: block;
      width: 40px;
      height: 28px;
      line-height: 28px;
      font-size: 1.4rem;
      color: rgb(111, 111, 111);
      cursor: pointer;
    }
    &__searchIconMobile{
      display: none;
    }
  }
}
